<!DOCTYPE html>
<html>
  <head>
    <title>DPG</title>
    <link rel='stylesheet' href='/stylesheets/responses.css' />
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src=
    "//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js">
    </script>
    <script src=
    "//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div id="MainDiv">
      <div id="HeaderDiv">
        <div id="img1">
          <a href="/adminhome">
            <img src="/images/create_form.svg"/>
            <p>Create Form</p>
          </a>
        </div>
        <div id="img2">
          <a href="/adminhome/createMember">
            <img src="/images/create_member.svg"/>
            <p>Create Member</p>
          </a>
        </div>
          <form method="GET" action="/adminlogout">
            <button type="submit" id="Btn-Logout">Logout</button>
          </form>
      </div>
      <div id="CenterDiv">
        <table class="styled-table" id="tableId">
          <thead>
            <tr>
              <% for(var x = 0; x < object.totalfields; x++){ %>
                  <% if((Object.keys(object.data)[x]).substring(0,4) == 'Text'){ %>
                      <th><%=object.data[Object.keys(object.data)[x]]%></th>
                    <% }else if((Object.keys(object.data)[x]).substring(0,5) == 'Radio'){ %>
                      <th><%=object.data[Object.keys(object.data)[x]]%></th>
                      <% x = x+2 %>
                      <% }else if((Object.keys(object.data)[x]).substring(0,6) == 'Number'){ %>
                        <th><%=object.data[Object.keys(object.data)[x]]%></th>
                        <% }else if((Object.keys(object.data)[x]).substring(0,4) == 'Date'){ %>
                          <th><%=object.data[Object.keys(object.data)[x]]%></th>
                          <% }else if((Object.keys(object.data)[x]).substring(0,4) == 'Time'){ %>
                            <th><%=object.data[Object.keys(object.data)[x]]%></th>
                          <% } %>
              <% } %>
            </tr>
          </thead>
          <tbody>
            <% object.response.forEach(function(entry, index){ %>
              <tr>
                <% for(var y = 3; y < (object.fields+3); y++){ %>
                  <th><%=entry[Object.keys(entry)[y]]%></th>
                <% } %>
              </tr>
            <% }) %>
          </tbody>
        </table>
        <div>
          <button id="exportbtn" onclick="Export('<%-object.zone%>')">Click to Export</button>
        </div>
      </div>
    </div>
    <script>
      function Export(x) {
          $("#tableId").table2excel({
              filename: `Data-${x}.xls`
          });
      }
    </script>
  </body>
</html>
